<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="startup.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Rule for static files -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(css/.*|js/.*|img/.*|.*\.html|.*\.ico|.*\.png|.*\.jpg|.*\.gif|.*\.css|.*\.js|.*\.mp3)$" />
          <action type="None" />
        </rule>
        <!-- Rule for API routes -->
        <rule name="APIRoutes" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="server/server.js"/>
        </rule>
        <!-- Rule for root index.html -->
        <rule name="IndexHTML" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="index.html"/>
        </rule>
        <!-- Default rule for everything else -->
        <rule name="DynamicContent">
          <match url=".*" />
          <action type="Rewrite" url="server/server.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="web.config;*.js"/>
  </system.webServer>
</configuration>
